<% include ../partials/header %>

<h1>Comment Form</h1>

<div class="container">
    <form action="/home/<%=review._id%>/comments" method="POST">
        <input type="text" placeholder="comment" name="comment[text]">
        <input type="text" placeholder="author" name="comment[author]">
        <button>Submit</button>
    </form>
</div>

<% include ../partials/footer %>