i.icon {
    font-size: 2em;
}


.container.main {
    margin-top: 7.0em;
}

#delete {
    display: inline;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  position: relative;
  background-color: inherit;
  width: 50%;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}